<h3>
  <LinkTo @route="home.blogs.show" @model={{post.id}}>
    {{body.title}}
  </LinkTo>
</h3>
<article>
  <img
    width=300
    src={{previewImage.s3Url}}
    alt={{previewImage.imageFileName}}
  >
</article>
