<div id="chat-room">
  <div id="chat-area">
    <ul id="messages">
    </ul>
    <ul id="userlist">
    </ul>
  </div>
</div>
<div id="controls">
  <form align='center' id="send-message" style="display: none;">
    <input type="text" id="input-message" placeholder="type here...">
    <button class="cool-button" {{action 'sendMessage'}}>Send</button>
  </form>
  <form align='center' id="enter-chat">
    <label for='nick'>Nickname</label><input type="text" name="nick">
    <button class="cool-button" {{action 'enterChat'}}>Enter chatroom</button>
  </form>
</div>
