{{input type="text" id="input-message" autocomplete="off" value=inputMessage
  placeholder="enter your message here..." autofocus="autofocus"}}
<button class="cool-button" {{action 'sendMessage'}}>Send</button>
