<select onchange={{action setLocale value="target.value"}}>
  {{#each locales as |localeChoice|}}
    <option value={{localeChoice}} selected={{eq selectedLocale localeChoice}}>{{localeChoice}}</option>
  {{/each}}
</select>
