<Await @promise={{this.fetchShows}} as |await|>
  <await.Pending>
    Loading...
  </await.Pending>

  <await.Fulfilled as |shows|>
  <table>
    <thead>
    </thead>
    <tbody>
      {{#each shows as |show|}}
        <tr>
          <td>{{format-time show.start}} ~ {{format-time show.end}}</td>
          <td>{{show.title}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </await.Fulfilled>

  <await.Rejected>
    Something went wrong :(
  </await.Rejected>
</Await>
