<div class="page-spacing">
  <div class="flex">
    <h1>{{t "profile.notifications.header"}}</h1>
    <img src="/assets/images/futsu.png" alt="{{t "profile.notifications.pidgeon"}}" class="ml-2" />
  </div>

  <ul>
    {{#each this.model as |notification|}}
      <UserNotification @notification={{notification}} />
    {{/each}}
  </ul>
</div>