@tailwind base;

@import 'colors.scss';
@import 'loading-spinner.scss';
@import 'container.scss';
@import 'stripe-animation.scss';

@import 'font-awesome';
@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';
@import 'calendar.scss';

@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

@import 'player.scss';

@tailwind components;

@font-face {
  font-family: 'Debussy';
  src: url('/vendor/hinted-Debussy.woff2') format('woff2'), url('/vendor/hinted-Debussy.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* animations seem annoying to do in tailwind without some kind of plugin... */
.logo {
  transform: rotate(-3deg);
  @media (min-width: 480px) {
    animation: textshadowfade 5s infinite;
  }
}

/* can't do text-shadow in tailwind */
.text-shadow {
  text-shadow: #333 1px 1px 1px;
}

.text-shadow-light {
  text-shadow: 0 1px 0 #777;
}

.text-shadow-none {
  text-shadow: none;
}

.flex-basis-0 {
  flex-basis: 0;
}

@keyframes textshadowfade {
  from {
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px,
      $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px,
      $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
  30% {
    text-shadow: $pink -1px -1px, $pink -2px -2px, $pink -3px -3px, $pink -4px -4px, $pink -5px -5px, $pink -6px -6px,
      $pink -7px -7px, $pink -8px -8px, $pink -9px -9px, $pink -10px -10px, $pink -11px -11px, $pink -12px -12px,
      $pink -13px -13px, $pink -14px -14px, $pink -15px -15px;
  }
  60% {
    text-shadow: $blue -1px -1px, $blue -2px -2px, $blue -3px -3px, $blue -4px -4px, $blue -5px -5px, $blue -6px -6px,
      $blue -7px -7px, $blue -8px -8px, $blue -9px -9px, $blue -10px -10px, $blue -11px -11px, $blue -12px -12px,
      $blue -13px -13px, $blue -14px -14px, $blue -15px -15px;
  }
  90% {
    text-shadow: $yellow -1px -1px, $yellow -2px -2px, $yellow -3px -3px, $yellow -4px -4px, $yellow -5px -5px,
      $yellow -6px -6px, $yellow -7px -7px, $yellow -8px -8px, $yellow -9px -9px, $yellow -10px -10px,
      $yellow -11px -11px, $yellow -12px -12px, $yellow -13px -13px, $yellow -14px -14px, $yellow -15px -15px;
  }
  to {
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px,
      $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px,
      $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
}

@keyframes colorfade {
  from {
    color: $green;
  }
  30% {
    color: $pink;
  }
  60% {
    color: $blue;
  }
  90% {
    color: $yellow;
  }
  to {
    color: $green;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bleed {
  @include stripe-animation;
}

.cool-button {
  @apply border-solid border-2 border-white text-lg rounded-sm;
  @apply text-white font-semibold p-2 leading-none bg-df-blue;
  @apply transition-all duration-100 ease-in-out;
}

.cool-button {
  &:hover,
  &:focus {
    @apply bg-df-blue-dark;
    @apply border-solid border-2 border-gray-100;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.modal-body form div {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

// img.emojione {
//   height: 3ex !important;
// }

//chat autofill emoji and username picker
.dropdown-menu {
  @apply bg-df-pink rounded-sm border-4 border-dotted border-df-green overflow-scroll h-40;
  img {
    @apply inline;
  }
}

// some defaults to make things easier
a {
  @apply text-df-yellow;
}

a:hover {
  @apply text-df-yellow-dark;
}

h1 {
  @apply text-2xl font-semibold;
}

input {
  @apply text-black border-solid border-2 border-gray-300 rounded-sm p-1;
}

.visuals {
  z-index: -999;
  video {
    width: 100vw !important;
    height: 100vh !important;
    @apply absolute left-0 object-cover;
  }
}

form {
  label {
    @apply text-df-yellow;
  }
  textarea,
  select {
    @apply text-black;
  }
  .error {
    @apply text-red bg-white rounded-sm p-1;
  }
}

.track-label {
  &:hover {
    @include stripe-animation;
  }
}

.message {
  /* for emojis */
  span {
    img {
      @apply inline;
    }
  }
}

.rotated {
  transform: rotate(90deg);
}

@import 'ember-power-select';

.ember-power-select-multiple-option {
  text-shadow: none;
}

.ember-power-select-option {
  color: black;
  text-shadow: none;
}

.ember-power-select-placeholder {
  text-shadow: none !important;
}

.fc-center {
  text-shadow: 3px 3px 3px #333, 7px 7px 0 #ff00fc;
  transform: rotate(-3.5deg);
}

#not-found-spin {
  animation: spin 1.5s infinite linear;
}

.textcomplete-dropdown {
  top: 175px;
}

.patron:hover {
  @include stripe-animation;
}

.djs {
  .dj {
    width: 150px;
  }
}

.gif-button {
  all: unset;
}

.gif-preview {
  cursor: pointer;
  border: solid 2px #eee;
  &:hover {
    border: dashed 2px $yellow;
  }
}

.blog-post {
  img {
    max-width: 500px;
  }
}

.donate-button {
  @apply border-solid border-2 border-white text-lg rounded-sm;
  @apply text-white font-semibold p-2 leading-none bg-df-green;
  @apply transition-all duration-100 ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($green, 15%);
    border: 1px solid darken(white, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.ember-modal-dialog {
  background: $blue;
  padding: 0;
  .modal-top {
    padding: 5px;
    background: $pink;
    border-radius: 8px 8px 0 0;
  }
  .modal-body {
    padding: 5px;
    border-radius: 8px;
  }
}

.donate-button {
  &:hover,
  &:focus {
    @apply bg-df-green-dark;
    @apply border-solid border-2 border-gray-100;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.show-poster {
  min-height: 500px;
}

.show-info {
  padding: 1em;
  border-image: repeating-linear-gradient(
    90deg,
    $green,
    $green 20px,
    $pink 20px,
    $pink 40px,
    $yellow 40px,
    $yellow 60px,
    $blue 60px,
    $blue 80px
  );
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  max-width: 50%;
  bottom: 20px;
  left: 20px;
  box-shadow: 10px 10px 2px grey;
  position: absolute;

  @media (max-width: 480px) {
    width: 100%;
    max-width: 100%;
    left: 0;
  }
}

.show-image {
  background-size: contain;
}

@tailwind utilities;
