/* purgecss start ignore */

@tailwind base;

@import 'colors.scss';
@import 'flags.scss';
@import 'loading-spinner.scss';
@import 'container.scss';
@import 'stripe-animation.scss';

@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

@import 'player.scss';

@tailwind components;

@layer base {
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #dfdfdf;
  color: black;
  text-shadow: none;
  padding: 5px;
}

* {
  cursor:url('/assets/images/mousepointer.png'), auto !important;
}

@font-face {
  font-family: 'Debussy';
  src: url('/vendor/hinted-Debussy.woff2') format('woff2'), url('/vendor/hinted-Debussy.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Topaz';
  src: url('/vendor/TopazPlus_a1200.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
}

/* animations seem annoying to do in tailwind without some kind of plugin... */
.logo {
  transform: rotate(-3deg);
  @media (min-width: 480px) {
    animation: textshadowfade 5s infinite;
  }
}

/* can't do text-shadow in tailwind */
.text-shadow {
  text-shadow: #333 1px 1px 1px;
}

.text-shadow-light {
  text-shadow: 0 1px 0 #777;
}

.text-shadow-none {
  text-shadow: none;
}

.flex-basis-0 {
  flex-basis: 0;
}

@keyframes textshadowfade {
  from {
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px,
      $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px,
      $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
  30% {
    text-shadow: $pink -1px -1px, $pink -2px -2px, $pink -3px -3px, $pink -4px -4px, $pink -5px -5px, $pink -6px -6px,
      $pink -7px -7px, $pink -8px -8px, $pink -9px -9px, $pink -10px -10px, $pink -11px -11px, $pink -12px -12px,
      $pink -13px -13px, $pink -14px -14px, $pink -15px -15px;
  }
  60% {
    text-shadow: $blue -1px -1px, $blue -2px -2px, $blue -3px -3px, $blue -4px -4px, $blue -5px -5px, $blue -6px -6px,
      $blue -7px -7px, $blue -8px -8px, $blue -9px -9px, $blue -10px -10px, $blue -11px -11px, $blue -12px -12px,
      $blue -13px -13px, $blue -14px -14px, $blue -15px -15px;
  }
  90% {
    text-shadow: $yellow -1px -1px, $yellow -2px -2px, $yellow -3px -3px, $yellow -4px -4px, $yellow -5px -5px,
      $yellow -6px -6px, $yellow -7px -7px, $yellow -8px -8px, $yellow -9px -9px, $yellow -10px -10px,
      $yellow -11px -11px, $yellow -12px -12px, $yellow -13px -13px, $yellow -14px -14px, $yellow -15px -15px;
  }
  to {
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px,
      $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px,
      $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
}

@keyframes colorfade {
  from {
    color: $green;
  }
  30% {
    color: $pink;
  }
  60% {
    color: $blue;
  }
  90% {
    color: $yellow;
  }
  to {
    color: $green;
  }
}

@keyframes bg-colorfade {
  from {
    background: $green;
  }
  30% {
    background: $pink;
  }
  60% {
    background: $blue;
  }
  90% {
    background: $yellow;
  }
  to {
    background: $green;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.8, 1.7);
  }

  50% {
    transform: scale(2);
  }

  80% {
    transform: scale(1.8, 1.7);
  }
}

.bleed {
  @include stripe-animation;
}

.cool-button {
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  @apply border-solid border-2 border-white text-lg rounded-sm;
  @apply text-white font-semibold p-2 leading-none bg-df-blue;
  @apply transition-all duration-100 ease-in-out;
  @apply cursor-pointer;
}

.cool-button {
  & img.emojione {
    height: 2ex !important;
  }
  &:hover,
  &:focus {
    @apply bg-df-blue-dark;
    @apply border-solid border-2 border-gray-100;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &.not-favorited {
    @apply bg-white text-df-pink border-df-pink p-1;
    &:hover,
    &:focus {
      @apply bg-gray-300;
    }
  }

  &.favorited {
    @apply bg-df-pink text-white border-white p-1;
  }
}

.chat-input {
  .cool-button {
    height: 38px;
  }
}

.modal-body form div {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

img.emojione {
  height: 4.5ex !important;
}

//chat autofill emoji and username picker
.dropdown-menu {
  @apply bg-df-pink rounded-sm border-4 border-dotted border-df-green overflow-scroll h-40;
  img {
    @apply inline;
  }
}

// some defaults to make things easier
a {
  @apply text-df-yellow;
}

a:hover {
  @apply text-df-yellow-dark;
}

input {
  @apply text-black border-solid border-2 border-gray-300 rounded-sm p-1;
}

.visuals {
  z-index: -999;
  @apply absolute left-0 top-0;
  .video-js {
    // background: none;
    width: 100vw !important;
    video {
      width: 100vw !important;
      height: 100vh !important;
      @apply absolute left-0 object-cover;
    }
  }
}

form {
  label {
    @apply text-df-yellow;
  }
  textarea,
  select {
    @apply text-black;
  }
  .error {
    @apply text-red bg-white rounded-sm p-1;
  }
}

.track-label {
  &:hover {
    @include stripe-animation;
  }
}

.message {
  /* for emojis */
  span {
    img {
      @apply inline;
    }
  }
}

.rotated {
  transform: rotate(90deg);
}

@import 'ember-power-select';

.ember-power-select-multiple-option {
  text-shadow: none;
}

.ember-power-select-option {
  color: black;
  text-shadow: none;
}

.ember-power-select-placeholder {
  text-shadow: none !important;
}

.ember-power-select-selected-item {
  text-shadow: none !important;
  color: black
}

.fc-center {
  text-shadow: 3px 3px 3px #333, 7px 7px 0 #ff00fc;
  transform: rotate(-3.5deg);
}

#not-found-spin {
  animation: spin 1.5s infinite linear;
}

.textcomplete-dropdown {
  top: 175px;
}

.patron:hover {
  @include stripe-animation;
}

#social-media-links a:hover {
  animation: colorfade 3s infinite;
}

.djs {
  .dj {
    width: 150px;
  }
}

.gif-button {
  all: unset;
}

.gif-preview {
  cursor: pointer;
  border: solid 2px #eee;
  &:hover {
    border: dashed 2px $yellow;
  }
}

.blog-post {
  img {
    max-width: 500px;
  }
}

.donate-button {
  @apply border-solid border-2 border-white text-lg rounded-sm;
  @apply text-white font-semibold p-2 leading-none bg-df-green;
  @apply transition-all duration-100 ease-in-out;
  @apply cursor-pointer;

  &:hover,
  &:focus {
    background-color: darken($green, 15%);
    border: 1px solid darken(white, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.ember-modal-dialog {
  background: $blue;
  padding: 0;
  .modal-top {
    padding: 5px;
    background: $pink;
    border-radius: 8px 8px 0 0;
  }
  .modal-body {
    padding: 5px;
    border-radius: 8px;
  }
}

.donate-button {
  &:hover,
  &:focus {
    @apply bg-df-green-dark;
    @apply border-solid border-2 border-gray-100;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.show-poster {
  min-height: 500px;
}

.fancy-box {
  border-image: repeating-linear-gradient(
    90deg,
    $green,
    $green 20px,
    $pink 20px,
    $pink 40px,
    $yellow 40px,
    $yellow 60px,
    $blue 60px,
    $blue 80px
  );
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  box-shadow: 10px 10px 2px grey;
}

@mixin cool-border {
  border-image: repeating-linear-gradient(
    90deg,
    $green,
    $green 20px,
    $pink 20px,
    $pink 40px,
    $yellow 40px,
    $yellow 60px,
    $blue 60px,
    $blue 80px
  );
  border-width: 10px;
  border-style: solid;
  border-image-slice: 1;
  box-shadow: 10px 10px 2px grey;
}

.user-settings-menu {
  @include cool-border;
}

.wiki-article {
  @include cool-border;
}

.show-info {
  @include cool-border;
  padding: 1em;
  max-width: 50%;
  bottom: 20px;
  left: 20px;
  position: absolute;

  @apply bg-df-blue-dark blm:bg-black;

  @media (max-width: 480px) {
    width: 100%;
    max-width: 100%;
    left: 0;
  }

}

.forum-post {
  @include cool-border;
}

.show-image {
  background-size: contain;
}

.add-datafruits {
  background: $green;
  color: $yellow;
  padding: 5px;
  display: flex;
}

canvas#pixi {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -998;
}

.fruit-tip-button {
  &:hover {
    animation: bg-colorfade 2s infinite;
  }
  &.tip:focus {
    animation: buttonPress ease-in-out 400ms;
  }
  &.tip:active {
    animation: none;
  }
  img {
    height: 5ex !important;
  }
}

@keyframes buttonPress {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 0deg)
  }
  50% {
    transform: scale(1.15) rotate3d(0, 1, 0, 180deg)
  }
  100% {
    transform: scale(1) rotate3d(0, 1, 0, 360deg)
  }
}

@keyframes bounce {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.very-nice {
  animation: bounce linear 200ms;
}

::selection {
  background: salmon; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: salmon; /* Gecko Browsers */
}

.update-notification {
  @include stripe-animation;
  color: white;
  font-weight: bold;
  animation: bounce linear 200ms;
}

.update-notification span {
  text-shadow: 0 0 0.6em $blue, 0 2px 0.4em black;
}

.emoji-selector-dialog {
  // top: -265px;
  // left: 0;
  width: 300px;
  height: 250px;
}

#emoji-width-datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

#emoji-width-datalist > option {
  padding: 0;
  margin: -10px;
}

#emoji-width-datalist > input[type="range"] {
  width: 200px;
  margin: 0;
}



@keyframes slidedown {
  from {
    transform: translate(0, 0) scaleY(-1);
  }
  10% {
    transform: translate(0, 400px) scaleY(-1);
  }
  35% {
    transform: translate(0, 400px) scaleY(-1);
  }
  40% {
    transform: translate(0, 0) scaleY(-1);
  }
  to {
    transform: translate(0, 0) scaleY(-1);
  }
}

@keyframes slideup {
  from {
    transform: translate(0, 200px) scale(2);
  }
  10% {
    transform: translate(0, 20px) scale(2);
  }
  35% {
    transform: translate(0, 20px) scale(2);
  }
  40% {
    transform: translate(0, 200px) scale(2);
  }
  to {
    transform: translate(0, 200px) scale(2);
  }
}

.tiny-guy {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 25px;
  /* https://stackoverflow.com/a/14068216/173635 */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */

  animation: 15s linear infinite slideup;
}

.tiny-grumby {
  position: absolute;
  z-index: 1000;
  top: -600px;
  left: 0;

  animation: 10s linear infinite slidedown;
}

#subscribe-links > li {
  padding: 0 1em 0;
  @apply underline;
}

#podcast-search-controls > h1 {
  @apply font-cursive;
}

.playing-podcast {
  @apply bg-df-green blm:bg-black trans:bg-df-pink #{!important};
}


#tag_search {
  height: 2.3rem;
}

body {
  scrollbar-color: $pink;
  scrollbar-width: auto;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $pink;
  outline: 1px solid $blue;
}

.pagination-wrapper {
  @apply px-10 flex flex-wrap justify-between bg-df-green blm:bg-black trans:bg-df-pink;
}

.pagination {
  @apply px-4 text-xl font-extrabold;
}

.pagination.number:hover {
  @apply rounded bg-df-blue blm:bg-white;
  a {
    @apply text-white blm:text-black;
  }
}

.active-page {
  @apply rounded bg-df-blue blm:bg-white blm:text-black;
}

.pagination.prev-link:hover,
.pagination.next-link:hover {
  @apply rounded bg-df-blue text-white rounded blm:bg-white blm:text-black;
}

.debussy-header {
  @apply text-center text-4xl font-debussy tracking-widest pb-2;
}

.page-spacing {
  @apply mt-5 mx-2 pt-2 px-5;
}

.page-bg {
  @apply bg-df-blue-dark blm:bg-black rounded;
}

.page-section-bg {}
.user-settings-input {
  @apply w-full mx-2 md:w-3/4;
  @apply classic:bg-df-pink blm:bg-black trans:bg-df-blue border-solid border-2 border-df-blue text-white;
}

.ember-power-select-selected-item {
  color: white;  
}

.about-section {
  @apply my-4 md:mx-4;
}
.about-section-text {
  @apply md:mx-8;
}
.about-section-text > p,
.about-section-text > div {
  @apply my-2;
}

.skip-to-content-link {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.skip-to-content-link:focus {
  z-index: 999;
  height: auto;
  width: auto;
}

.bounce {
  animation: bounce2 500ms cubic-bezier(0.280, 0.840, 0.420, 1);
}

@tailwind utilities;
/* purgecss end ignore */
