.twitter-card-container {
  border: dashed rgb(233,146,255);
  height: 100vh;
  .logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  #circle-logo {
    display: block;
    visibility: visible;
  }
}
