$spin-duration: 1.5s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
