$spin-duration: 1.5s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.player-loading {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255,255,0,.3);
  border-radius: 50%;
  border-top-color: yellow;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
