@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 1px);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 7px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@mixin shake-animation {
  transform: translate3d(0, 0, 0);
  animation: shake 0.5s infinite;
}

@mixin shake-animation-once {
  transform: translate3d(0, 0, 0);
  animation: shake linear 500ms;
}
