CHAT_SOCKET_URL="wss://hotdog-lounge.herokuapp.com/socket"
# you can change to localhost if you are developing with hotdog-lounge locally
# CHAT_SOCKET_URL="ws://localhost:4000/socket"

API_HOST='https://datafruits.streampusher.com'
# you can change to localhost if you are developing with streampusher locally
# API_HOST='http://localhost:3000'

# this is for :viz:
STREAM_HOST=https://vj.bluelighttapes.com
STREAM_NAME=datafruits

# for showing the youtube upload on home page
GOOGLE_API_KEY=xxx
YOUTUBE_CHANNEL_ID=xxx

# error tracking service
ROLLBAR_TOKEN=7777
