<div class="mt-5 pt-2 px-5">
  <h1 class="text-3xl">{{this.model.title}} history</h1>
  <article class="bg-df-pink wiki-article p-1">
    <ul>
      {{#each this.model.wikiPageEdits as |edit|}}
        <li>
          <span>{{edit.createdAt}}</span>
          <span class="italic">{{edit.summary}}</span>
          <strong>{{edit.username}}</strong>
        </li>
      {{/each}}
    </ul>
  </article>
</div>
