// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$green:  #82ffa5;
$yellow: #fff94f;
$pink: #e992ff;
$blue:  #00b4ff;

@include keyframes(fade) {
  from {
    @include linear-gradient(50deg, $green, lighten($green, 20%));
  }
  30% {
    @include linear-gradient(50deg, $pink, lighten($pink, 20%));
  }
  60% {
    @include linear-gradient(50deg, $blue, lighten($blue, 20%));
  }
  90% {
    @include linear-gradient(50deg, $yellow, lighten($yellow, 20%));
  }
  to {
    @include linear-gradient(50deg, $green, lighten($green, 20%));
  }
}

body {
  background-repeat: no-repeat;
  height:100%;
  margin:0;
  background-attachment:fixed;
  @include animation(fade 60s infinite); /* this is CRASHING chrome...jesus wtf */
  overflow: hidden;
}

.dropdown-menu {
  width:100px !important;
  min-width: 100px !important;
}
.dropdown-menu ul {
  width:100px !important;
}
.dropdown-menu li {
  width:100px !important;
}
h1#logo {
  font-family: 'Condiment', cursive;
  @include animation(textshadowfade 5s infinite);
  @include transform(rotate(-5deg));
  font-size: 45px;
  color: white;
  position:absolute;
  z-index: 1000;
  right: 5px;
  top: 10px;
}

#enter-chat {
  font-size: 25px;
}

form#enter-chat {
  margin-bottom: 20px;
  label {
    color: yellow;
    font-size: 28px;
    text-shadow: #333 1px 1px 1px;
    margin-right: 10px;
  }
  input {
    margin-top: 5px;
    font-size: 20px;
  }
}

@include keyframes(textshadowfade) {
  from {
    font-size: 35px;
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px, $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px, $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
  30% {
    text-shadow: $pink -1px -1px, $pink -2px -2px, $pink -3px -3px, $pink -4px -4px, $pink -5px -5px, $pink -6px -6px, $pink -7px -7px, $pink -8px -8px, $pink -9px -9px, $pink -10px -10px, $pink -11px -11px, $pink -12px -12px, $pink -13px -13px, $pink -14px -14px, $pink -15px -15px;
  }
  60% {
    font-size: 45px;
    text-shadow: $blue -1px -1px, $blue -2px -2px, $blue -3px -3px, $blue -4px -4px, $blue -5px -5px, $blue -6px -6px, $blue -7px -7px, $blue -8px -8px, $blue -9px -9px, $blue -10px -10px, $blue -11px -11px, $blue -12px -12px, $blue -13px -13px, $blue -14px -14px, $blue -15px -15px;
  }
  90% {
    text-shadow: $yellow -1px -1px, $yellow -2px -2px, $yellow -3px -3px, $yellow -4px -4px, $yellow -5px -5px, $yellow -6px -6px, $yellow -7px -7px, $yellow -8px -8px, $yellow -9px -9px, $yellow -10px -10px, $yellow -11px -11px, $yellow -12px -12px, $yellow -13px -13px, $yellow -14px -14px, $yellow -15px -15px;
  }
  to {
    font-size: 35px;
    text-shadow: $green -1px -1px, $green -2px -2px, $green -3px -3px, $green -4px -4px, $green -5px -5px, $green -6px -6px, $green -7px -7px, $green -8px -8px, $green -9px -9px, $green -10px -10px, $green -11px -11px, $green -12px -12px, $green -13px -13px, $green -14px -14px, $green -15px -15px;
  }
}

@include keyframes(rotation){
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}


nav {
  position:absolute;
  background:$pink !important;
  width:100%;
  top: 0;
  font-size:20px;
  z-index:1000;
  border: 0 !important;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 25px;
}

div#radio-bar {
  position:absolute;
  background:$blue;
  width:100%;
  height:50px;
  bottom:0;
  padding:5px;
  color:white;
  text-decoration:none;
  font-size:20px;
  line-height:40px;
  z-index:1000;
}

div#radio-bar a:hover {
  text-decoration:none;
}

/* remove vertical scroll */
div.wrap {height:100%; overflow:hidden;}

#jp_container {
  position:relative;
}

.jp-loading {
  display: inline-block;
  @include animation(rotation 0.7s linear infinite);
}

.jp-title {
  font-style: italic;
  text-shadow: #333 1px 1px 1px;
  color: yellow;
}

#chat-area {
  background: rgba(221, 221, 221, 0.45);
  color: yellow;
  font-weight: bold;
  text-shadow: #333 1px 1px 1px;
}

#chat-room {
}

#messages {
  height: 480px;
  overflow-y:scroll;
  margin:0;
}

#messages-area {
  border-right: 1px white solid;
}

#userlist {
  height: 480px;
  overflow-y:scroll;
}

li.userlist-item {
}

input#input-message {
  width: 80%;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

#chat {
}

ul {
  list-style:none;
  word-wrap:break-word;
}

@include keyframes(floaty) {
  from {
    @include transform(translate(0px, 0px) rotate(0deg));
  }
  65% {
    @include transform(translate(0px, 30px) rotate(-6deg));
  }
  to {
    @include transform(translate(0px, 0px) rotate(0deg));
  }
}

@include keyframes(twirly) {
  from {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(360deg));
  }
  to {
    @include transform(rotate(0deg));
  }
}

@include keyframes(dancey) {
  from {
    @include transform(rotate(0deg) translateX(0px) translateY(0px));
  }
  50% {
    @include transform(rotate(36deg) translateX(-300px) translateY(-20px));
  }
  to {
    @include transform(rotate(0deg) translateX(0px) translateY(0px));
  }
}

@include keyframes(arrow) {
  from {
    @include transform(rotate(0deg)translateX(0px) translateY(0px));
  }
  65% {
    @include transform(rotate(90deg) translateX(-50px) translateY(-50px));
  }
  to {
    @include transform(rotate(0deg) translateX(0px) translateY(0px));
  }
}

.floaty {
  @include animation(floaty 6s infinite ease-in-out);
}

.twirly {
  @include animation(twirly 10s infinite ease-in-out);
}

.dancey {
  @include animation(dancey 12s infinite ease-in-out);
}

.arrow {
  @include animation(arrow 8s infinite ease-in-out);
}

#zolos {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1;
}

#zolo1 {
  position: absolute;
}

#zolo2 {
  position: absolute;
  bottom:40px;
  right:40px;
}

#zolo3 {
  position: absolute;
  right:200px;
  top:60px;
}

#zolo4 {
  position: absolute;
  bottom:20px;
  left:60px;
}

input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}

.cool-button {
  background-color: $blue;
  border: 1px solid white;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($blue, 15%);
    border: 1px solid darken(white, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.small-cool-button {
  background-color: $green;
  border: 1px solid white;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($green, 15%);
    border: 1px solid darken(white, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

#livestream {
  display: none;
  position: absolute;
  margin: auto;
  top: -200px;
  z-index: -999;
}

#actions {
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-content {
  background: $pink;
  color: yellow;
  text-shadow: #333 1px 1px 1px;
}

img.emojione {
  height: 3ex !important;
}

/* this makes the collapsed navbar appear on the left instead of right */
.custom-navbar .fa {font-size:25px}

@media (max-width:767px) {
  .custom-navbar .navbar-right {
      float: right;
      padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
      float: right;
  }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
      padding:8px 5px;
  }
  .custom-navbar .navbar-toggle {
      float: left
  }
  .custom-navbar .navbar-header {
      float: left;
      width: auto!important;
  }
  .custom-navbar .navbar-collapse {
      clear: both;
      float: none;
  }
}

a {
  color: $yellow;
}

a:hover {
  color: darken($yellow, 20%);
}
