{{#if fastboot.isFastBoot}}
  <div class="main-content">
    <div class="loading-container">
      <img alt={{t "loading"}} src=<RandomLoadingSpinner />>
    </div>
    <div class="loading-container">
      <h1><RandomLoadingMessage /></h1>
    </div>
  </div>
{{else}}
  <NetworkStatus as |status|>
    <DatafruitsChat @networkStatus={{status}} />
  </NetworkStatus>
{{/if}}
