{{#unless fastboot.isFastBoot}}
  <DatafruitsChat />
{{else}}
  <div class="main-content">
    <div class="loading-container">
      <img src="<RandomLoadingSpinner></RandomLoadingSpinner>" />
    </div>
    <div class="loading-container">
      <h1>
        <RandomLoadingMessage />
      </h1>
    </div>
  </div>
{{/unless}}