<section class="page-spacing">
  <section class="flex justify-between mb-4">
    <h1 class="debussy-header">{{t "forum.title"}}</h1>
    {{#if this.session.isAuthenticated}}
      <LinkTo class="cool-button" @route="home.forum.new">
        {{t "forum.new_topic"}}
      </LinkTo>
    {{/if}}
  </section>
  <section class="mb-2">
    <Forum::ThreadList @forumThreads={{this.model}} />
  </section>
</section>