<section class="page-spacing">
  <h1>{{t "forum.title"}}</h1>
  <LinkTo class="cool-button" @route="home.forum.new">
    NEW TOPIC
  </LinkTo>
  {{#each this.model as |forumThread|}}
    <h1>{{forumThread.title}}</h1>
  {{/each}}
</section>
