<div class="main-content">
  <div class="loading-container">
    <img src={{random-loading-spinner}} alt={{t "loading"}}>
  </div>
  <div class="loading-container">
    <h1>
      {{random-loading-message}}
    </h1>
  </div>
</div>
