<div class="main-content">
  <div class="loading-container">
    <img src=<RandomLoadingSpinner /> alt={{t "loading"}}>
  </div>
  <div class="loading-container">
    <h1>
      <RandomLoadingMessage />
    </h1>
  </div>
</div>
