<h1>DATAFRUITS PREMIUM</h1>
<h2>Support a listener and DJ owned and ran internet radio station</h2>

$7 / mo - $70 / yearly !

<img src="/assets/images/df_premium.gif" alt="{{ t "premium.membership_card" }}" />

<p>
Datafruits is making a radio station that is owned by everyone.
</p>

<p>
The problem with today's platforms:
</p>

<p>
They can change out from under you at any time.
The users that benefit the most from platforms are the users that can serve the needs of the platform owners the best
The platform owners are not necessarily users so their needs to do not likely align with the users needs but rather the need to turn a profit
</p>

<p>
Let’s flip this problem on its head.
Let the fans and DJs own the station.
</p>

<h3>Support your station and DJs!!!</h3>
50% of proceeds will go directly to the datafruits DJs
The other 50% will go to maintaining the website and further development

<h3>MEMBER BENEFITS</h3>
<ul>
  <li>Get your own profile page on the site</li>
  <li>Show off your superior status with a cool badge in your profile</li>
  <li>Become able to use secret emoji / animated emoji</li>
  <li>Use an animated gif for your profile avatar</li>
  </li>Vote on new features - everyone’s voice matters</li>
  <li>20% off cooltrash merch</li>
</ul>

<h3>FAQ</h3>
