<h1>DATAFRUITS PREMIUM</h1>
<h2>Support a listener and DJ owned and ran internet radio station</h2>

$7 / mo - $70 / yearly !

<img src="/assets/images/df_premium.gif" alt="{{ t "premium.membership_card" }}" />

<h3>Support your station and DJs!!!</h3>
50% of proceeds will go directly to the datafruits DJs
The other 50% will go to maintaining the website and further development

<h3>MEMBER BENEFITS</h3>
<ul>
  <li>Get your own profile page on the site</li>
  <li>Show off your superior status with a cool badge in your profile</li>
  <li>Become able to use secret emoji / animated emoji</li>
  <li>Use an animated gif for your profile avatar</li>
  </li>Vote on new features - everyone’s voice matters</li>
  <li>20% off cooltrash merch</li>
</ul>

<h3>FAQ</h3>
