<section class="page-spacing">
  <h2 class="text-4xl text-shadow mb-2 uppercase">
    {{t "shows.title"}}
  </h2>
  <div class="flex flex-wrap flex-shrink-0">
    {{#if this.session.isAuthenticated}}
      <LinkTo
        @route="home.user.my-shows"
        class="cool-button"
        >
        {{t "profile.my-shows.title"}}
      </LinkTo>
    {{/if}}
    <ShowsList @shows={{this.model}} />
  </div>
</section>