<section class="page-spacing">
  <h1 class="text-2xl">
    THE POWER OF SHRIMPO<span class="ml-2 text-xs italic">beta</span> COMPELS YOU
  </h1>
  <p>
  Improve your skills. Create new music.
  </p>

  {{#if this.session.isAuthenticated}}
    <div class="my-2">
      <LinkTo @route="home.shrimpos.new" class="cool-button">
        BEGIN A NEW SHRIMPO
      </LinkTo>
    </div>
  {{/if}}

  {{#each this.model as |shrimpo|}}
    <ShrimpoCard @shrimpo={{shrimpo}} />
  {{/each}}
</section>
