<section class="page-spacing">
  <h1 class="text-2xl">{{t "donate.title"}}</h1>
  <p>
    {{t "about_page.listenersupport"}}
    <a href="https://patreon.com/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Patreon">
      <img src="/assets/images/patreon.png" alt="patreon" class="md:w-72">
    </a>
  </p>
</section>