<div class="mt-5 pt-2 px-5">
  {{page-title "wiki"}}
  <h1>Welcome to Fruitopiyeah</h1>

  <LinkTo @route="home.wiki.new" class="cool-button">
    NEW ARTICLE
  </LinkTo>

  Latest articles:
  {{outlet}}
</div>
