<h3>
  <LinkTo @route="home.blogs.show" @model={{@post.id}}>
    {{this.body.title}}
  </LinkTo>
</h3>
<article>
  <img
    width="300"
    src={{this.body.previewImage.cdnUrl}}
    alt={{this.body.previewImage.imageFileName}}
  >
</article>
