<ModalDialog
  translucentOverlay={{true}}
>
  <div class="modal-top">
    <button {{on "click" (fn @toggleModal)}}
      type="button"
      class="cool-button"
      >
      X
    </button>
  </div>
  <div class="modal-body m-1">
    <div class="flex flex-shrink overflow-y-scroll">
      <ul id="userlist">
        {{#each-in this.chat.presences as |username user|}}
          <UserListItem @user={{user}} />
        {{/each-in}}
      </ul>
    </div>
  </div>
</ModalDialog>