<div class="w-full">
  <h2 class="text-m {{if this.almostReached "shake-text" ""}}">
    FRUIT SUMMON LIMIT BREAK
  </h2>
  <!-- Outer progress bar -->
  <div class="w-full h-6 bg-gray-300 overflow-hidden" id="hype-meter-bar">
    <!-- Inner progress bar -->
    <div class="shiny-pink h-full" style="width: {{this.progress}}%;"></div>
  </div>

  <p class="text-right mt-2 text-sm text-white">{{this.progress}}% complete</p>
</div>