<div class="mb-2">
  <LinkTo
    @route="home.shows.episode"
    @models={{array @episode.showSeries.slug @episode.slug}}
    class="text-2xl">
    {{@episode.title}}
  </LinkTo>
  <img src={{@episode.imageUrl}} />
</div>