<div class="flex flex-wrap justify-evenly my-4 mt-1 text-white">
  <ThemeSelector 
    @setTheme={{this.setTheme}}
  />
  <LocaleSelector
    @selectedLocale={{this.intl.locale.value}}
    @setLocale={{this.setLocale}}
  />
  <WeatherSelector
    @setWeather={{this.setWeather}}
  />
</div>