<div class="flex flex-wrap justify-evenly my-4">
  <ThemeSelector class="text-white" @setTheme={{this.setTheme}} />
  <LocaleSelector
    class="text-white mt-1"
    @selectedLocale={{this.intl.locale.value}}
    @setLocale={{this.setLocale}}
  />
  <WeatherSelector class="text-white mt-1" @setWeather={{this.setWeather}} />
</div>