{{#let (file-queue name="track" onFileAdded=this.uploadTrack) as |queue|}}
  <div class="flex justify-end">
    <input class="mx-1" type="file" {{queue.selectFile}} />
  </div>

  {{#if queue.files.length}}
    <div class="upload-progress-container">
      <div class="upload-progress-text">
        {{t "profile.uploading-progress" count=queue.files.length progress=queue.progress}}
      </div>
      <div class="upload-progress-bar">
        <div class="upload-progress-fill" style={{html-safe-string (concat "width: " queue.progress "%")}}></div>
      </div>
    </div>
  {{/if}}
{{/let}}