<a
  class="track-label
    text-df-yellow
    classic:bg-df-pink
    blm:bg-black
    hover:text-white
    p-1
    uppercase
    border-solid
    border-white
    border-2
    mx-2
    font-extrabold"
  href="#">
  {{@label.name}}
</a>