{{#let (file-queue name="track" onFileAdded=this.uploadTrack) as |queue|}}
  <label>
    {{t "profile.my-shows.form.choose-file"}}
    <input type="file" {{queue.selectFile}}>
  </label>

  {{#if queue.files.length}}
    Uploading {{queue.files.length}} files. ({{queue.progress}}%)
  {{/if}}
{{/let}}