{{#let (file-queue name="track" onFileAdded=this.uploadTrack) as |queue|}}
  <div class="flex flex-col justify-end">
    <input class="mx-1 text-df-yellow font-semibold border-dashed text-shadow" type="file" {{queue.selectFile}} />
  </div>

  {{#if queue.files.length}}
    <div class="upload-progress-container">
      <div class="upload-progress-text">
        {{t "profile.uploading-progress" count=queue.files.length progress=queue.progress}}
      </div>
      <div>
        {{#each queue.files as |file|}}
          {{file.name}}
        {{/each}}
      </div>
      <div class="upload-progress-bar">
        <div class="upload-progress-fill" style={{html-safe-string (concat "width: " queue.progress "%")}}></div>
      </div>
    </div>
  {{/if}}
{{/let}}