<li class="bg-df-pink text-2xl rounded-lg p-2 mb-2 block hover:bg-df-green flex justify-between">
  <h2 class="mr-4">{{@notification.message}}</h2>
  <span class="text-base">{{this.formattedDate}}</span>
</li>