<div class="user-menu">
  <div>
    <img class="user-menu-logo" src="/assets/images/logo.png" alt={{t "site_title"}}>
  </div>
  <ul role="menu">
    <li class="h-1 bg-gray-300"></li>
    <li class="hover:bg-gray-800 rounded px-2 py-1">
      <a href="#" {{action 'logout'}}>Logout</a>
    </li>
  </ul>
</div>
