<Ui::Modal
    @toggleModal={{@toggleModal}}
  >
  <div
    {{did-insert this.didInsert}}
    class="modal-body m-1">
    <blink>CONGRATULATION</blink>
    <marquee>
      <img src="/assets/images/acid.gif" />
    </marquee>
  </div>
  <audio style="display:none;" src="/public/assets" />
</Ui::Modal>
