<Ui::Modal
    @toggleModal={{@toggleModal}}
  >
  <div
    {{did-insert this.didInsert}}
    class="modal-body m-1">
    <h1 style="bleed">CONGRATULATION</h1>
    <marquee>
      <img src="/assets/images/emojis/acid.gif" />
    </marquee>
    <audio style="display:none;" src="/assets/sfx/congratz.mp3" id="virus-message" />
  </div>
</Ui::Modal>
