<Ui::Modal
  @toggleModal={{@closeDialog}}
>
  <div class="modal-body m-1">
    <Chat::EnableGifsButton
      @toggleGifs={{this.toggleGifsEnabled}}
      @enabled={{this.chat.gifsEnabled}}
    />
    <Chat::TvModeButton />
    <Chat::BuddyListButton />
  </div>
</Ui::Modal>