<h3>Stream Title</h3>
<span>{{this.metadata.title}}</span>
<form {{on "submit" this.updateMetadata}}>
  <Input
    class="input focus:outline-none focus:shadow-outline mb-2"
    @type="text"
    @value={{this.title}}
    />
  <Input
    class="cursor-pointer cool-button"
    @type="submit" @value="Update" />
</form>