<div class="border-solid border-4 border-df-green">
  <div class="border-solid border-4 border-white">
    <button
      class="cool-button absolute z-10"
      id="camera--trigger"
      {{on "click" this.cameraAction}}
      
    >
    📸
    </button>
    <video id="camera--view" autoplay playsinline></video>
  </div>
</div>