<label
  id="chat-text-color-picker-label"
  for="chat-text-color-picker"
>
  Chat Color
</label>
<input 
  id="chat-text-color-picker"
  name="chat-text-color-picker"
  type="color"
  value="#fff940"
  {{on "input" this.selectedColor}}
>