<div 
class="grid grid-cols-2"
title={{if @enabled (t "chat.titles.img_on") (t "chat.titles.img_off") }}>
<label
  id="gif-enabler-id"
  for="gif-enabler"
>
  Show GIFs 
</label>
<input 
  id="gif-enabler" 
  name="gif-enabler" 
  type="checkbox" 
  checked=@enabled
  {{on "change" @toggleGifs}}
/>
</div>
