<button
  title={{if @enabled (t "chat.titles.img_on") (t "chat.titles.img_off") }}
  class="cool-button mt-1 md:m-0"
  type="button"
  {{on "click" @toggleGifs}}>
  {{if @enabled this.imgOn this.imgOff}}
</button>