<div
  class="grid grid-cols-2"
  title={{if @enabled (t "chat.titles.video_on") (t "chat.titles.video_off") }}
>
  <label
    id="tv-mode-input-label"
    for="tv-mode-input"
  >
    Show Video
  </label>
  <input 
    type="checkbox"
    name="tv-mode-input"
    id="tv-mode-input"
    {{on "change" @toggleVideo}}
    checked=@enabled
  />
</div>
