<div class="mt-2">
  {{#each this.badges as |badge|}}
    <img
      class="inline rounded-lg"
      style="height: 2rem;"
      src="{{badge.url}}"
      align="center"
      alt={{badge.description}}
      title={{badge.description}} / >
  {{/each}}
</div>
