<div
  {{did-insert this.didInsert}}
  >
  <Ui::Modal
      @toggleModal={{@toggleModal}}
    >
    <div class="modal-body m-1">
      <h1 class="text-center">{{@badge.name}}</h1>
      <div id="viewer-{{this.domId}}">
      </div>
    </div>
  </Ui::Modal>
</div>
