<select
  id="weekly-interval"
  {{on "change" (pick "target.value" (set @changeset "recurringWeekday"))}}
  >
  {{#each-in this.weekdays as |key val|}}
    <option
      value="{{val}}"
      selected={{eq @changeset.recurringWeekday val}}
      >
      {{key}}
    </option>
  {{/each-in}}
</select>