<ul>
  {{#each this.sortedThreads as |forumThread|}}
    <li class="">
      <LinkTo
        class="bg-df-pink text-2xl rounded-lg p-2 mb-2 block hover:bg-white flex justify-between"
        @route="home.forum.show"
        @model={{forumThread.slug}}>
        <span>
          {{forumThread.title}}
        </span>
        <div class="flex">
          <span class="text-sm mr-2">
            {{forumThread.posterUsername}}
          </span>
          <span>
            <img
              style="height: 3rem;"
              class="inline rounded-lg"
              src="{{forumThread.posterAvatar}}"
              />
          </span>
        </div>
      </LinkTo>
    </li>
  {{/each}}
</ul>
