{{#in-element this.destinationElement insertBefore=null}}
  <div class="modal"
    {{did-insert this.didInsert}}
    {{will-destroy this.removeListeners}}
    ...attributes>
    <div class="modal-top"
      >
      <button {{on "click" @toggleModal}}
        type="button"
        class="cool-button"
        >
        X
      </button>
    </div>
    {{yield}}
    
    {{! Resize handles }}
    <div class="resize-handle resize-handle-right" data-resize-direction="right"></div>
    <div class="resize-handle resize-handle-bottom" data-resize-direction="bottom"></div>
    <div class="resize-handle resize-handle-corner" data-resize-direction="bottom-right"></div>
  </div>
{{/in-element}}
