<div class="modal" ...attributes>
  <div class="modal-top"
    {{did-insert this.didInsert}}
    >
    <button {{on "click" (fn @toggleModal)}}
      type="button"
      class="cool-button"
      >
      X
    </button>
  </div>
  {{yield}}
</div>
