<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATAFRUITSとは。。。？</h4>
      </div>
      <div class="modal-body">
        <p>
          Datafruits is a netradio and netlabel founded in 2012 by <a href="http://freedrool.us/">Tony Miller (mcfiredrill)</a>. Its mission is to bring you the world's new strangest electronic sounds and bring together the electronic music communities around the world.
        </p>
        <p>
          Powered by <a href="http://streampusher.com" target="_blank"><img src="assets/images/streampusher.png" />Streampusher.</a>
        </p>
      </div>
      <div class="modal-footer">
        <ul class="social-icons">
          <li><a href="http://twitter.com/datafruits" class="lsf-icon" title="twitter" target="_blank"></a></li>
          <li><a href="http://github.com/datafruits" class="lsf-icon" title="github" target="_blank"></a></li>
          <li><a href="http://soundcloud.com/datafruits" class="lsf-icon" title="soundcloud" target="_blank"></a></li>
          <li><a href="mailto:info@datafruits.fm" class="lsf-icon" title="mail" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
