<div class="modal fade" id="podcastsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'application'}}<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{/link-to}}
        <h4 class="modal-title" id="myModalLabel">PODCASTS</h4>
      </div>
      <div class="modal-body">
        {{#each track in model.podcast.tracks}}
          {{podcast-track audio_file_name=track.audio_file_name}}
        {{/each}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
