{{#if model.tracks}}
  {{container/datafruits-player track=model.tracks.firstObject}}
{{else}}
  {{container/datafruits-player}}
{{/if}}
<a class="logo" href="https://datafruits.fm/" target="_blank" rel="noopener" aria-label="datafruits.fm"><img id="circle-logo" src="/assets/images/logo.png" /></a>
