{{#if model.tracks}}
  <Container::DatafruitsPlayer @track={{model.tracks.firstObject}} />
{{else}}
  <Container::DatafruitsPlayer />
{{/if}}
<a class="logo" href="https://datafruits.fm/" target="_blank" rel="noopener" aria-label="datafruits.fm">
  <img id="circle-logo" src="/assets/images/logo.png" />
</a>
