<div class="main-content">
  <h1 id="myModalLabel">DATAFRUITSとは。。。？</h1>
  <div class="modal-body">
    <p>
      Datafruits is a netradio and netlabel founded in 2012 by <a href="http://freedrool.us/">Tony Miller (mcfiredrill)</a>. Its mission is to bring you the world's strangest electronic sounds and bring together the electronic music communities around the world.
    </p>
    <p>
      Powered by <a href="http://streampusher.com" target="_blank"><img src="assets/images/streampusher.png" />Streampusher.</a>
    </p>
  </div>
  <div class="modal-footer">
    <ul class="social-icons">
      <li>
        <a href="http://twitter.com/datafruits" title="twitter" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li><a href="http://github.com/datafruits" title="github" target="_blank">
          <i class="fa fa-github"></i>
      </a></li>
      <li><a href="http://soundcloud.com/datafruits" title="soundcloud" target="_blank">
          <i class="fa fa-soundcloud"></i>
      </a></li>
      <li><a href="http://mixcloud.com/datafruits" title="mixcloud" target="_blank">
          <i class="fa fa-mixcloud"></i>
      </a></li>
      <li><a href="http://instagram.com/datafruits" title="instagram" target="_blank">
          <i class="fa fa-instagram"></i>
      </a></li>
      <li><a href="mailto:info@datafruits.fm" title="mail" target="_blank">
          <i class="fa fa-envelope"></i>
      </a></li>
    </ul>
  </div>
</div>
