<section class="flexbox-container">
  <nav class="navbar navbar-default custom-navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-left" id="navbar-navigation">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'chat'}}Chat →{{/link-to}}
        </li>
        <li>
          {{#link-to 'podcasts'}}Podcasts →{{/link-to}}
        </li>
        <li>
          {{#link-to 'timetable'}}Timetable →{{/link-to}}
        </li>
        <li>
          <a href="http://releases.datafruits.fm/" target="_blank">Label →</a>
        </li>
        <li>
          {{#link-to 'about'}}About →{{/link-to}}
        </li>
        <li>
          <a href="http://datafruits.tumblr.com/" target="_blank">Blog →</a>
        </li>
        <li>
          <a href="http://datafruits.storenvy.com/" target="_blank">Shop →</a>
        </li>
        <li>
          {{#link-to 'subscribe'}}Subscribe →{{/link-to}}
        </li>
        <li>
          {{#link-to 'dj-inquiry'}}DJ on datafruits →{{/link-to}}
        </li>
      </ul>
    </div>
    <img id="circle-logo" src="/assets/images/logo.png" />
  </nav>
  <h1 id="logo">datafruits.fm</h1>
  {{outlet}}
  {{datafruits-player nextShow=model}}
</section>
{{datafruits-visuals}}
