<div class="twitter-card-container">
  {{container/datafruits-player}}
  <a class="logo" href="https://datafruits.fm/" target="_blank"><img id="circle-logo" src="/assets/images/logo.png" /></a>
</div>
