<div class="main-content">
  <div class="row">
    <h1>{{model.username}}</h1>
    <img src={{model.imageUrl}} />
    <p>
      {{model.bio}}
    </p>
    <h2>Podcasts</h2>
    {{#each model.podcasts as |track|}}
      {{podcast-track cdnUrl=track.cdnUrl title=track.title labels=track.labels selectLabel="browseLabel"}}
    {{/each}}
  </div>
</div>
