<div class="main-content">
  <div class="row">
    {{#each djs as |dj|}}
      <div class="col-md-4">
        <h2>{{dj.username}}</h2>
        <img src={{dj.image_url}} />
        <p>
          {{dj.bio}}
        </p>
      </div>
    {{/each}}
  </div>
</div>
