<div id="not-found">
  <div id="not-found-spin">
    <h1>404!</h1>
    <img src="{{random-loading-spinner}}">
  </div>
  <h1>Page not found</h1>
  {{#link-to 'home'}}back to safety{{/link-to}}
</div>
