<div id="not-found">
  <div id="not-found-spin">
    <h1>
      404!
    </h1>
    <img src="<RandomLoadingSpinner></RandomLoadingSpinner>" />
  </div>
  <h1>
    Page not found
  </h1>
  <LinkTo @route="home">
    back to safety
  </LinkTo>
</div>