{{title "Newsletter"}}
<div class="main-content">
  <h4 class="modal-title" id="myModalLabel">DATAFRUITS.FM NEWSLETTER</h4>
  <div class="modal-body">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://datafruits.us7.list-manage1.com/subscribe/post?u=ad4bf41fe569a0d8e513b3dea&amp;id=4ae348e50b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="cool-button">
      <span class="tiny">(Free exclusive tracks, mixes & info)</span>
      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
  <div class="modal-footer">
  </div>
</div>
