<div class="modal fade" id="timetableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'application'}}<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{/link-to}}
        <h4 class="modal-title" id="myModalLabel">TIMETABLE</h4>
      </div>
      <div class="modal-body">
        <p>
          {{timetable-calendar}}
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
