<div class="flex space-x-2">
  <LinkTo
    @route="home.shrimpos.show"
    @model={{@entry.shrimpoSlug}}>
    {{@entry.shrimpoTitle}}
  </LinkTo>
  {{#if @entry.previousShrimpoEntrySlug}}
    <LinkTo
      @route="home.shrimpos.entries.show"
      @models={{array @entry.shrimpoSlug @entry.previousShrimpoEntrySlug}}
      class="cool-button uppercase"
    >
      Previous Shrimp
    </LinkTo>
  {{/if}}
  {{#if @entry.nextShrimpoEntrySlug}}
    <LinkTo
      @route="home.shrimpos.entries.show"
      @models={{array @entry.shrimpoSlug @entry.nextShrimpoEntrySlug}}
      class="cool-button uppercase"
    >
      Next Shrimp
    </LinkTo>
  {{/if}}
</div>